# Imports

importFrom("grDevices", "dev.new", "xy.coords", "gray")
importFrom("graphics", "abline", "box", "grid", "layout", "legend", "lines",
             "par", "plot", "title", "polygon", "axTicks", "axis", "mtext", 
             "rect")
importFrom("stats", "as.ts", "ccf", "df.kernel", "frequency", "acf",  "time",   
             "is.tskernel", "kernapply", "kernel", "mvfft", "na.fail", "lag",
             "lm", "na.omit", "na.pass", "nextn", "plot.ts", "qf", "ppoints",
             "resid", "rnorm", "spec.taper", "ts", "ts.intersect", "ts.plot", 
             "qnorm", "coef", "dnorm", "quantile", "optim", "ar", "spec.ar", 
             "filter", "diffinv", "tsp", "var")            

# Export all names

exportPattern("^[^\\.]")

