# Imports

importFrom("grDevices", "dev.new", "xy.coords", "gray")
importFrom("graphics", "abline", "box", "grid", "layout", "legend", "lines",
             "par", "plot", "title", "polygon")
importFrom("stats", "as.ts", "ccf", "df.kernel", "frequency", "acf",  "time",   
             "is.tskernel", "kernapply", "kernel", "mvfft", "na.fail",
             "na.omit", "na.pass", "nextn", "plot.ts", "qf", "ppoints",
             "spec.taper", "ts", "ts.intersect", "ts.plot", "qnorm", "coef", "dnorm")
importFrom("MASS", "rlm")


# Export all names
exportPattern(".")

