# Imports

importFrom("graphics", "abline", "axis", "axTicks", "barplot", "box", 
              "filled.contour", "grid", "hist", "layout", "legend", "lines", 
              "mtext", "pairs", "par", "pie", "plot", "plot.new", "points", 
              "polygon", "rect", "text", "title") 
importFrom("grDevices", "adjustcolor", "col2rgb", "cm.colors", "dev.flush", 
              "dev.hold", "dev.new", "gray", "palette", "recordPlot", "rgb", 
              "rgb2hsv", "xy.coords")
importFrom("stats", "acf", "AIC", "ar", "ar.yw", "arima", "ARMAtoMA", "as.ts", 
              "BIC", "Box.test", "ccf", "coef", "cor", "cov2cor", "df.kernel", 
              "diffinv", "dnorm", "fft", "filter", "frequency", "is.ts", 
              "is.tskernel", "kernapply", "kernel", "lag", "lm", "loess", 
              "lowess", "mvfft", "na.fail", "na.omit", "na.pass", "naprint", 
              "nextn", "optim", "pacf", "pchisq", "pf", "plot.ts", "ppoints", 
              "predict", "qf", "qnorm", "qqnorm", "qt", "quantile", "resid", 
              "rgamma", "rnorm", "runif", "sd", "spec.ar", "spec.pgram", 
              "spec.taper", "summary.lm", "time", "ts", "ts.intersect", 
              "ts.plot", "tsp", "var", "vcov")     
importFrom("utils", "setTxtProgressBar", "txtProgressBar")


# Export all names that do not start with a period

exportPattern("^[^\\.]")
